.col-task-card {
  margin-bottom: 20px;
}

.tasks-header {
  background-color: #F24236;
  color: white;
  padding: 10px;
  margin-bottom: 20px;

  h2 {
    margin: 0;
  }
}

.task-header {
  background-color: #2E86AB;
  color: white;
  padding: 5px;
  margin-bottom: 20px;

  h2 {
    margin: 0;
  }
}

.progress-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  margin: 20px 0;

  .count {
    font-size: 72px;
    font-weight: 500;
  }

  .name {
    font-size: 24px;
    font-weight: 300;
  }
}
