.navbar {
  border-radius: 0;

  .login-btn {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .user-dropdown {
    padding: 15px;
  }

  .logout-btn {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}
